@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  color: #08192d;
}

html,
body,
#root {
  margin: 0;
  min-height: 100%;
}

body {
  font-family: "Manrope", sans-serif;
}

@layer utilities {
  .no-scrollbar::-webkit-scrollbar {
    display: none;
  }

  .no-scrollbar {
    -ms-overflow-style: none;
    scrollbar-width: none;
  }
}
